@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
hr{
  clear: both;
}
h1{
  text-align: left;
  font-weight: 400;
  font-family: 'EB Garamond', serif;
  font-size: 150%;
  text-color: white;
  margin-top: 40px;
  margin-left: 60px;
  color: white;
  float: left;
}
h2{
  float: right;
  margin-top: 40px;
  margin-right: 60px;
  word-spacing: 20px;
}
a{
  word-spacing: 20px;
  color: #616161;
  text-decoration: none;
}
body{
  background-color: #212121;
  text-align: center;
  
}
#title{
  
}
img{
  margin-top 100px;
  text-align: center;
  max-height: 75vh
  
}
* {box-sizing:border-box}

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
}
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  left: 0;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.9s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
http://api.flickr.com/services/rest/?&method=flickr.people.getPublicPhotos&api_key=[2248869f58e025f4281af1bb36f16ef7]&user_id=[your user id here]
