 /*BASICS*/

 * {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
 }

 html {
     font-size: 62.5%;
 }

 /*MENU ICON*/

 .container {
     display: none;
 }

 .dispaly .container {
     display: block;
 }

 .hamburger-menu {
     width: 3rem;
     height: 3rem;
     position: fixed;
     top: 5rem;
     right: 5rem;
     z-index: 200;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     cursor: pointer;
     animation: right 0.7s;
 }

 .change .hamburger-menu {
     right: 33rem;
 }

 .line {
   right: 100%;
   height: 0.2rem;
   background-color: rgb(225, 153, 0);
   box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
 }

 .change .line {
     background-color: rgba(0, 0, 0, 0.2);
 }

 .change .line-1 {
   transform: rotate(45deg) translate(0.3rem, 0.8rem);
 }

 .change .line-2 {
     opacity: 0;
     visibility: hidden;
 }

 .change .line-3 {
     transform: rotate(-45deg) translate(0.3rem, 0.8rem);
 }

 /*MENU BAR*/
 .hamburger-menu span {
   position: absolute;
   left: 5rem;
   width: 10rem;
   height: 4rem;
   background-color: rgb(225, 153, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-family: sans-serif;
   font-size: 1.6rem;
   opacity: 0;
   visibility: hidden;
   transition: all 0.2s;
 }


 .change .hamburger-menu:hover span {
     opacity: 1;
     visibility: visible;
 }

 .hamburger-menu span::before{
   content: "";
   position: absolute;
   border-left: 1rem solid transparent;
   border-right: 1rem solid rgb(225, 153, 0);
   border-bottom: 1 rem solid transparent;
   border-top: 1rem solid transparent;
   top: 50%;
   left: -2rem;
   transform: translate(-50%)
 }  

 .sidebar {
     width: 40rem;
     height: 100vh;
     position: fixed;
     top: 0;
     right: -40rem;
     background-color: #fff;
     transition: right 0.5s;
     z-index: 100;

 }


 .change .sidebar {
     right: 0;
 }

 .menu {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }

 .menu-item {
     text-align: center;
     margin-bottom: 40px;
 }

 .menu-link {
     font-family: sans-serif;
     font-size: 3.5rem;
     color:#555;
     position: relative;
 }

 .menu-link::before {
     content: attr(data-content);
     position: absolute;
     top: 0;
     left: 0;
     color: rgb(255, 153, 0);
     width: 0;
     overflow: hidden;
     white-space: nowrap;
     transition: width 0.3s ease-in-out;
 }

 .menu-link:hover::before {
     width: 100%;
 }

 .social-media {
     position: absolute;
     bottom: 3rem;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .social-media i {
   font-size: 2.2rem;
   margin:3rem;
   width: 4.5rem;
   height: 4.5rem;
   background-color: #777;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transition: background-color 0.3s;
 }
 
 .social-media i:hover {
     background-color: rgb(255, 153, 0);
 }

 /*HEADER*/

 .header {
     width: 100%;
     height: 100vh;
     position: relative;
     perspective: 100rem;
     overflow: hidden;
 }

 .imag-wrapper {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0.4);
      overflow: hidden;
 }

 .img-wrapper img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     opacity: 0.5;
     animation: scale 25s;

 }

@keyframes scale {
   0% {
       transform: scale(1.3);
   }
   100% {
       transform: sacle(1);
   }
 }

 .banner {
     position: absolute;
     top: 40%;
     left: 17%;
  }

  .banner h1 {
      font-family: sans-serif;
      font-size: 6rem;
      font-weight: 500;
      color: #fff;
      width: 100%;
      line-height: 7rem;
      letter-spacing: 0.1rem;
      text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
      opacity: 1;
      margin-bottom: 2rem;
  }

  .banner a {
      font-family: sans-serif;
      border:2px solid rgb(255, 153, 0);
      border-radius: 5px;
      background: rgb(255, 153, 0);
      padding-bottom: 4px;
      margin-left: 450px;
      font-size: 3rem;
      color: #fff;
      column-width: 70%;
      letter-spacing: 0.1rem;
      margin-bottom: 3rem;
      opacity: 1; 
   }

   .banner a:hover {
       background-color: rgb(233, 140, 1);
   }


   /*ABOUT US*/

   .abot-section {
       background: url(image/pic.jpg) no-repeat left;
       background-size: 100%;
       background-color: #fdfdfd;
       overflow: hidden;
       padding-bottom: 100px 0;
   }

   .inner-container {
       width: 55%;
       float: right;
       background-color: #fdfdfd;
       padding-bottom: 130px;
       padding-top: 50px;
       box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
       padding-bottom: 50px;
   }


   .inner-container h1 {
       margin-bottom: 30px;
       font-size: 50px;
       font-weight: 550;
       font-family: sans-serif;
       color: rgb(255, 153, 0);
   }


   .text {
       font-size: 20px;
       color: #54545454;
       line-height: 30px;
       text-align: justify;
       margin-bottom: 40px;
   }


   @media screen and (max-width: 120px) {
       .inner-container {
           padding:80px;
       }
   }

   @media screen and (max-width: 1000px) {
       .about-section {
           background-size: 100%;
           padding:100px 40px;
       }
       .inner-container {
           width: 100%;
       }
   }

   @media screen and (max-width: 600px) {
       .about-section {
           padding:0;

       }

       .inner-container { 
           padding-top: 60px;
       }
    }

    /*TEAM*/

    .team-section {
        background-color: #27272727;
        min-height: 100vh;
        padding: 70px 15px 30px;
    }

    .row {
         display: flex;
         flex-wrap:wrap;
    }

    .team-section .section-title {
        flex-basis: 100%;
        max-width: 100%;
        margin-bottom: 70px;

    }


    .team-section .section-title h1 {
        font-size: 40px;
        font-family: sans-serif;
        text-align: center;
        margin: 0;
        color: #fff;
        font-weight: 700;

    }


    .team-section .team-items {
        flex-basis: 100%;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .team-section .team-items .items {
        flex-basis: calc(25% - 30px);
        max-width: calc(25% - 30px);
        transition: all 0.5s ease;
        margin-bottom: 40px;
    }

    .team-section .team-items .items img {
        display: block;
        width: 100%;
        border-radius: 8px;
    }

    .team-section .team-items .items .inner {
        position: relative;
        z-index: 11;
        padding: 0 15px;
    }

    .team-section .team-items .items .inner .info {
        background: #27272727;
        font-family: sans-serif;
        text-align: center;
        padding: 20px 15px;
        border-radius: 18px;
        transition: all 0.5s ease;
        margin-top: -40px;

    }

    .team-section .team-items .item:hover .info {
        transform: translativeY(-20px);
    }

    .team-section .team-items .items:hover {
        transform: translativeY(-10px);
    }

    .team-section .team-items .team .inner .info h5 {
        margin: 0;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
    }
    .team-section .team-items .item .inner .info {
        font-size: 16px;
        font-weight: 400;
        color: #c5c5c5c5;
        margin: 10px 0 0;
    }
    .team-section .team-items .item .inner .info .social-links a {    
         display: inline-block;
         height: 32px;
         width: 32px;
         background-color: #fff;
         color: rgb(225, 153, 0);
         border-radius: 50%;
         margin: 0 2px;
         text-align: center;
         line-height: 32px;
         font-size: 16px;
         transition: all 0.5s ease;
    }


    .team-section .team-items .item .inner .info .social-links a:hover {
        box-shadow: 0 0 10px #000;
    }


    @media (max-width: 990px) {
        .team-section .team-items .item {
            flex-basis: calc(50% - 30px);
            max-width: calc(50% - 30px);
        }
    }


    @media (max-width: 767px) {
        .team-section .team-items .item {
            flex-basis: calc(100%);
            flex-basis: calc(100%);
        }
    }

    /*CONTACT*/

    .contact-section {
        background: url(images/contact-big.jpg) no-repeat center;
        background-size: cover;
        padding: 40px 0;
    }

    .contact-section h1 {
        text-align: center;
        color: #ddd;
        font-size: 50px;
        font-family: sans-serif;
        font-weight: 300;
    }


    .border {
        width: 200px;
        height: 5px;
        background:rgb(255, 153, 0);
        margin: 20px auto;
    }


    .contact-form {
        max-width: 600px;
        margin: auto;
        padding: 0 10px;
        overflow: hidden;
    }


    .contact-form-text {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 16px 0;
        border: 0;
        background: #111;
        padding: 20px 40px;
        outline: none;
        color: #ddd;
        transform: 0.5s;
    }

    .contact-form-text:focus {
        box-shadow: 0 0 10px 4px rgb(225, 153, 0);
    }

    textarea.contact-form-text {
        resize: none;
        height: 120px;
    }

    .contact-form-btn {
        float: right;
        border:0;
        background: rgb(255, 153, 0);
        color: #fff;
        padding: 12px 50px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s;

    }

    .contact-form-btn:hover {
        background: rgb(263, 153, 4);
    }

    /*FOOTER*/

    .footer {
        width: 100%;
        height: 15rem;
        background-color: #17181b;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .footer-content {
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .copyright {
        font-family: sans-serif;
        font-size: 1.6rem;
        color: #a7a7a7a7;
    }


    .social-group a {
        margin: 0 2rem;
    }

    .social-group i {
        font-size: 2rem;
        color: #a7a7a7a7;
    }

    .social-group i:hover {
      color: rgb(255, 153, 0);
    }

    /*MEDIA QUERIES*/

    @media (max-width: 1550px) {
        .banner h1 {
            font-size: 5rem;

        }

        .baaner a {
            margin-left: 200px;

        }

        .footer-content {
            width: 80%
        }
    }

    @media (max-width: 1400px) {
        .banner h1 {
            font-size: 4rem;
        }

        .menu-link {
            font-size: 3rem;
        }
    }

    @media (max-width: 1300px) {
        .banner h1 {
            font-size: 5rem;
        }
    }

    @media (max-width: 1000px){
        .footer-content {
           flex-direction: column;
           align-items: center;
           text-align: center;
           width: 50%;
        }

        .copyright {
            order: 1;
            margin-top: 3rem;
        }
    }

    @media (max-width: 500px) {
        html {
            font-size: 45%;
        }
        .sidebar {
            width: 100%;
            right: -100%;
        }

        .footer {
            height: 18rem;
        }
    }

        


 


        
             
          
 
      

     

        



    
        
        



         


    




        
       









     







